body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #202c45;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 16px;
  background-color: #eaeaea;
  font-size: 14px;
}

#status-api {
  font-weight: bold;
  margin: 16px auto;
  max-width: 600px;
  padding: 10px 14